@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

button {
  @apply hover:scale-105 transition-transform;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.25);
}
